.class1{
border: 3px solid rgb(255, 121, 143);
background-color: rgb(165, 245, 245);
height: 400px;
padding: 10px;
}
img{
    display: auto;
    height: 250px;
    width: auto;
}
h1{
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 50px;
    padding: 20px;
    width: 500px;
    outline:10px solid black;
    outline-offset: 10px;
    
}
#class2{
    border: 3px solid black;
    padding: 30px;
    margin: 20px;
    background-color: rgb(84, 238, 84);
    color: rgb(192, 0, 0);
    height: 600px;
}
#img2{
    display: block;
    height: 400px;
    width:400px;
    margin-left: auto;
    margin-right:auto;
    opacity: 1;
    cursor:  pointer;
    border-radius: 30px;
    margin-top: 5px;
    outline: 5px solid rgb(100, 4, 211);
    outline-offset: 6px;
    margin-bottom: 30px;
}
#img2:hover{
    opacity: 0.5;
    /* padding: 20px; */
}
#class3{
    border: 4px solid rgb(255, 0, 0);
    background-color: rgb(58, 58, 250);
    color: wheat;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    height: 400px;
}
#img3{
    
    border-radius: 30px;
}
#img4{
    float:right;
    border-radius: 40px;
}
p{
    /* overflow-y: scroll; */
     background-color: yellow;
     border:5px solid black;
     overflow: scroll;
     height: 300px;
     width: 800px;
   }

